parameters:
    level: 8
    paths:
    - src


    ignoreErrors:
        - message: '#Variable property access#'
        -
            identifier: missingType.iterableValue

includes:
	- vendor-bin/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
