parameters:
    level: max
    tmpDir: cache/phpstan
    paths:
        - src

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkMissingOverrideMethodAttribute: true
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportStaticMethodSignatures: true
    reportUnmatchedIgnoredErrors: true
    checkDynamicProperties: true

    type_coverage:
        constant: 100
        declare: 100
        param: 100
        property: 100
        return: 100
