parameters:
    level: 10
    tmpDir: cache/phpstan
    paths:
        - src

    reportUnmatchedIgnoredErrors: true
    checkUninitializedProperties: true

    type_coverage:
        param: 100
        return: 100
        property: 100
